:root {
    --status-bar-bg-color: #F1F462;
    --category-bar-bg-color: #666699;
}

hr {
    background-color: #000000
}

.category-container {
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

.category-bar {
    background-color: var(--category-bar-bg-color);
    border-radius: 10px;
    min-width: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.category-content {
    display: flex;
    flex-direction: row;
}

.category-content i {
    align-self: center;
    padding-right: 10px;
}

.category-content h6 {
    margin: 0;
}





.description-card {
    padding-bottom: 20px;
}

.tb-border {
    border-radius: 10px;
    overflow: hidden;
}

.attachment-table th {
    vertical-align: middle;
}

/* .table-bordered {
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */

/* .attachment-table th {
    background-color: #a6a6a6;
    color: #ffffff;
    vertical-align: middle;
} */

/* .attachment-table .table-row {
    border-radius: 15px;
} */


.no-attachment-card {
    background-color: #D3D3D3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.no-attachment-card .card-text {
    text-align: center;
}

.status-content {
    display: flex;
    flex-direction: row;
}

.status-content i {
    align-self: center;
    padding-right: 10px;
}

.status-content h5 {
    margin: 0;
}

.status-bar {
    /* background-color: #00F1E3; */
    background-color: var(--status-bar-bg-color);
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    height: 40px;
}


.status-bar-withdrawn {
    background-color: #F1F462;
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    height: 40px;
}

.req-review h6 {
    text-align: center;
}

.properties-card .p-form .form-row {
    padding-bottom: 10px;
}

.properties-card .p-form label {
    font-weight: bold;
}